p a{
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

p a:last-child {
    color: black;
}

p>b {
    text-decoration:underline;
}

div>div {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgb(158, 158, 158);
    padding: 15px;
}
div>h3, div>h2 {
    margin: 0;
}

.gray {
    color: gray;
}

.row {
    margin: 15px 0px;
    padding-bottom: 50vh;
}