<div class="header-row-space-between ">
    <div class="flex-column">
      <mat-card-title>Top Categories</mat-card-title>
      <mat-card-subtitle>Compare Sales by Category</mat-card-subtitle>
    </div>
    <div class="flex-row">
        <button mat-icon-button>
            <mat-icon class="color-white">refresh</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menuTotalSales" aria-label="Example icon-button with a menu">
            <mat-icon class="color-white">more_vert</mat-icon>
        </button>
        <mat-menu #menuTotalSales="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>more</mat-icon>
              <span>More info</span>
            </button>
            <button mat-menu-item>
              <mat-icon>remove_circle</mat-icon>
              <span>Remove widget</span>
            </button>
        </mat-menu>
    </div>
</div>
<mat-card-content>
  <ngx-charts-pie-chart
  [scheme]="colorScheme"
  [results]="data"

  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-pie-chart>
</mat-card-content>
<mat-card-content>
  <mat-divider></mat-divider>
  <div class="grid-2x1">
    <div class="result">
      <mat-card-title>{{rndTotalSales}}</mat-card-title>
      <mat-card-subtitle>Total Sales</mat-card-subtitle>
    </div>
    <div class="result">
      <mat-card-title>{{topCategoryAmount}}</mat-card-title>
      <mat-card-subtitle>Top Categories</mat-card-subtitle>
    </div>
  </div>
  
</mat-card-content>