<div class="blueRectangle">
    <h2>Drag & Drop</h2>
    <h3>Home   >   Drag & Drop</h3>
</div>

<div class="example-container">
  <br>
    <span class="ToDoHeader">To do tasks</span>
  <br>
    <span class="BelowHeaderSpan">Simply Drag & Drop items in your order</span>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <br>
    <span class="ToDoHeader">Done tasks</span>
    <br>
    <span class="BelowHeaderSpan">Drag between lists and inside lists</span>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>✓ {{item}}</div>
    </div>
  </div>
