.grid-2x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.total-sales{
    background-color: #966793;
    
}
.visits{
    background-color: #605aa2;
}
.total-clicks{
    background-color: #6e9a44;
}
.coversions{
    background-color: #f6d2c9;
}
.top-grid-element{
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    height: 300px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.header-flex-row{
    justify-content: space-between;
}
.color-white{
    color: #FFFFFF;
}